header,
footer {
    background-color: rgb(189, 236, 182);
}

.logo {
    height: 4rem;
}

body {
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
}

.logo {
    border-radius: 100%
}

#menu a {
    font-size: 18px;
    font-weight: 200;
}

.carousel-inner {
    max-height: 29rem;
    width: auto;
}

.nombreEmpresa {
    color: rgb(255, 128, 0);
}

#clientes {
    display: flex;
    flex-direction: column;
}

.bi-facebook:hover {
    color: #3b5998;
}

.bi-whatsapp:hover {
    color: #25D366;
}

.bi-instagram:hover {
    color: #8a3ab9;
}


/* Media queries pantalla ancha */


/* Media queries pantalla Small SM */

@media (max-width:768px) {
    #intro,
    #tituloClientes {
        width: 90% !important;
    }
    .logo {
        height: 3 rem;
    }
}


/* Media queries pantalla Extra SM */