/* Footer */

footer {
    #secciones {
        font-size: small;
        li {
            a:hover {
                font-size: medium;
                font-weight: bold;
            }
        }
    }
    .redes {
        .bi-facebook:hover {
            color: #3b5998;
            margin: 1px;
        }
        .bi-whatsapp:hover {
            color: #25D366;
            margin: 1px;
        }
        .bi-instagram:hover {
            color: #8a3ab9;
            margin: 1px;
        }
    }
}